body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
} 

.App {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
}
input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
button {
  padding: 10px 15px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #218838;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  width: 400px;
}
li {
  background-color: white;              
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
} 
h1 {
  color: #333;
}
